.cp1 {
    color: #454545;
    font-size: 28px;
    margin-top: 20px;
    font-weight: bold;
}
.course1 {
    border: 1px solid #EBEBEB;
    margin-top: 9px;
    border-left: none;
    border-right: none;
}
.cpinfo {
    font-size:12px;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin: 10px 0 30px 0;
}
.cp2 {
    font-size:16px;
    font-weight:400;
    color:rgba(61,61,61,1);
    line-height:32px;
}
.pimg {
    width:620px;
height:265px;
margin-left: 125px;
margin-top: 38px;
}
.cp3 {
font-size:18px;
font-weight:bold;
color:rgba(51,51,51,1);
line-height:32px;
margin-top: 40px;
}   
.cp4 {
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:32px;
    margin-top: 20px;
}
.cp4  span{
    font-size:18px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(178,0,0,1);
    line-height:32px;
}

.centerp {
    width:451px;
height:17px;
font-size:16px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(188,188,188,1);
line-height:32px;
margin:  0 auto;
}
.zanbox {
    width:62px;
    text-align: center;
    margin: 0 auto;
    margin-top: 39px;
}
.zanbox p:first-child {
    width:62px;
    height:62px;
    border-radius: 50%;
    border: 1px solid #b20000;
    line-height: 62px;
}
.zanbox p:last-child {
    color: #787878;
    margin-top: 5px;
}
.cdlast {
    color: #999999;
    font-size: 16px;
    line-height: 32px;
    margin-top: 30px;
}
.cdlast p span {
    color: #666666;
}
.tui1 {
    overflow: hidden;
}
.tui1 li {
    float: left;
    width: 45%;
    height: 36px;
    color: #666666;
    font-size: 14px;
    line-height: 36px;
}
.tui1 li .icon {
    width: 15px;
    height: 15px;
    color: #666;
}
.tuijiantitle { 
    color: #333333;
    font-size: 18px;
    border-left: 4px solid #b20000;
    padding-left: 10px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom:  30px;
}

.tui1 li span:first-child {
    float: left;
}
.tui1 li span:last-child {
    float: right;
    color: #999999;
    font-size: 12px;
}

.tuijianbox {
    width: 890px;
}
.tui1 li:hover {
    color: #b20000;
}
.tui1 li:hover .icon {
    color: #b20000;
}
.tui1 li:nth-child(2n) {
    margin-left: 9%;
}

/* CSS Document */
/*点赞*/
@-webkit-keyframes niceIn {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
	70% {
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
@keyframes niceIn {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5)
	}
	70% {
		-webkit-transform: scale(.8);
		-ms-transform: scale(.8);
		transform: scale(.8)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}

@-o-keyframes niceIn{
	0% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 1;
		-o-transform: scale(1.5);
		transform: scale(1.5)
	}
	70% {
		-o-transform: scale(.8);
		transform: scale(.8)
	}
	100% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1)
	}
} 

@-moz-keyframes niceIn{
	0% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1.5);
		transform:scale(1.5)
	}
	70% {
		-o-transform: scale(.8);
		transform: scale(.8)
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1)
	}
}
.niceIn {
	-webkit-animation:niceIn 0.8s .2s ease;
	-moz-animation:niceIn 0.8s .2s ease;
	-o-animation:niceIn 0.8s .2s ease;
	animation:niceIn 0.8s .2s ease;
}




















