*{
    padding: 0;
    margin: 0;
}
ul,ol {
    list-style: none;
}
body {
    background-image: url('../../../截图素材/05.png');
}
.main {
    width: 905px;
    height: 240px;
    margin: 0 auto;

    overflow: hidden;
}
li {
    width: 180px;
    float: left;
    border-left: 1px solid #fff;
    position: relative;
    transition: all .3s;
}
 li>img {
     width: 180px;
     height: 240px;
 }
.flag {
    position: absolute;
    left: 180px;
    bottom: 4px;
    width: 240px;
    height:240px;
    line-height: 240px;
    text-align: center;
    color: #fff;
    background: rgb(0, 0, 0);    
}
.main:hover li {
width:120px;
}
.main li:hover {
width: 420px;
}


.demo2 {
    overflow: hidden;
    width:905px;
    height: 480px;
    margin: 150px auto;
}