.allbox  {
    width: 1920px;
    max-width: 1920px;
    margin: 0 auto;
    background: url('../images/record1.jpg') no-repeat 0 0 /100% 100%;
    height:439px;
}
.allboxcon{
    width: 1200px;
    margin: 0 auto;
}
.h57{height: 57px;}
.recordform {
    width:285px;
    height:313px;
    background:#fff;
    border: 1px solid #fff;
    padding-left: 10px;
    padding-top: 25px;
}
.recordform p:first-child {
    font-size: 22px;
    color: #3d3d3d;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.recordform input {
    width:252px;
    height:40px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(224, 224, 224, 1);
    margin-top: 10px;
}

.recordform input::placeholder {
    color: #B3B3B3;
    font-size: 14px;
}
.recordform select {
    width:252px;
    height:40px;
    background:rgba(255,255,255,1);
    margin-top: 10px;
    border:1px solid rgba(224, 224, 224, 1);
}
.recordform .recordformbtn {
    background: #b20000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.record1 {
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
}
.record1_1 {
    float: left;
    width: 131px;
    text-align: center;
}
.record1_1 p:first-child span {
    font-size: 84px;
    font-weight: bold;
    color: #b20000;
}
.record1_1 p:first-child {
    color: #454545;
    font-size: 20px;
}

.record1_1 p:last-child {
    color: #808080;
    font-size: 16px;
}
.record1_2 {
    margin-left: 111px;
    width: 185px;
}
.record1_3 {
    margin-left: 115px;
    width: 240px;
}
.record1_4 {
    margin-left: 105px;
    width: 309px;
}


.record1_2 p:last-child {
    padding: 0 20px;
}
.record1_3 p:last-child {
    padding: 0 25px;
}
.record1_4 p:last-child {
    padding: 0 79px;
}
.largerbox {
    width: 100%;
    background: #FbFbFb;
    padding-bottom: 57px;
}
.record2_1 {
    height: 70px;
    padding-bottom: 22px;
    overflow: hidden;
    width: 100%;
    margin-top: 80px;
    border-bottom: 1px solid #f2f2f2;
}
.record2_2 {
    
    float: left;
}
.record2_3 {
    width:140px;
    height:35px;
    border:1px solid #b20000;
    border-radius:18px;
    float: right;
    text-align: center;
    line-height: 35px;
    color: #b20000;
    background: #fff;
}
.record2_3:hover {
    background: #b20000;
    color: #fff;
}

.record2_2 > span:first-child {
    display: inline-block;
    width: 46px;
    height: 46px;
    background: #b20000;
    border-radius: 50%;
    padding: 12px;
}
.record2_2 .icon {
    color: #fff;
    width: 22px ;
    height: 24px;
}
.record2_2 >span:last-child {
    color: #363636;
    font-size: 28px;font-weight: bold;
    margin-left: 15px;
}
.record2_4 {
    height: 125px;
    padding-top: 20px;
}
.heng {
    content: '';
    width:10px;
    height:2px;
    background: #999999;
    display: inline-block;
    position: relative;
    top: -3px;
    margin-right: 5px;
}

.recordSlider {
    margin-left: 40px;
    color: #808080;
    font-size: 15px;
    display: inline-block;
    margin-top: 21px;
}
.recordSlider:hover {
    cursor: pointer;
    color: #b20000;
}
.recordSlider:hover .heng {
    background: #b20000;
}
.recordSlider1 {
    margin-left: 40px;
    color: #808080;
    font-size: 15px;
    display: inline-block;
    margin-top: 21px;
}
.recordSlider1:hover {
    cursor: pointer;
    color: #b20000;
}
.recordSlider1:hover .heng {
    background: #b20000;
}
.recordSlider2 {
    margin-left: 40px;
    color: #808080;
    font-size: 15px;
    display: inline-block;
    margin-top: 21px;
}
.recordSlider2:hover {
    cursor: pointer;
    color: #b20000;
}
.recordSlider2:hover .heng {
    background: #b20000;
}
.recordActive {
    color: #b20000;
}
.recordActive .heng {
    background: #b20000;
}
.reconLeft {
    width:216px;
height:590px;
    background: url('../images/record4.jpg') no-repeat  0 0 /100% 100%;
    float: left;
    text-align: center;
}
.recordCon {
    overflow: hidden;
    display: none;
}
.recordCon1 {
    overflow: hidden;
    display: none;
}
.recordCon2 {
    overflow: hidden;
    display: none;
}
.reconRight {
    float: left;
    width:980px;
    height:590px;
    background:rgba(255,255,255,1);
    border:1px solid #ccc;
    
}
.reconright1 {
    width: 673px;
    height: 100%;
    margin-left: 25px;
    float: left;
}
body{
    overflow-x:  hidden;
}
.recon1titel {
    font-size: 20px;
    color: #3d3d3d;
    overflow: hidden;
    padding-bottom: 18px;
    padding-top: 25px;
    border-bottom: 1px solid #E5E5E5;
}
.recon1titel p:first-child {
    float: left;
    font-weight: bold;
    padding-left: 12px;
    border-left: 4px solid #b20000;
    height: 20px;
    line-height: 20px;
}
.recon1titel a:last-child {
    float: right;
    display: inline-block;
    color: #b20000;
    font-size: 14px;
}
.contitlecon {
    overflow-y: auto;
    height: 514px;    padding-bottom: 20px;
}
.stuchilder {
    width: 123px;
    margin-top: 25px;
    margin-left: 10px;
    float: left;
}
.stuchilder img {
    width: 123px;
}
.stuchilder p:nth-child(2) {
    color: #2B2B2B;
    font-size: 14px;
    font-weight: bold;
}
.stuchilder p:nth-child(3) {
    color: #2B2B2B;
    font-size: 12px;
}
.contitlecon >div:nth-child(5n+1) {
    margin-left: 0px;
}
.reconright2 {
    width: 245px;
    float: left;
    margin-left: 15px;
}
.swiperbox {
    width:245px;
height:144px;
background: skyblue;
}
.picbox {
    overflow: hidden;
}
.picbox1 {
    float: left;
    width:114px;
    height:48px;
    background:rgba(247,247,247,1);
    border-radius:4px;
    color: #4D4D4D;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 13px;
}
.picbox1 .icon {
    width: 16px;
    height: 18px;
    
}
.picbox > .picbox1:nth-child(2n+1) {margin-left: 0px;}

.picbox1 a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.picbox1 a span:last-child {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.reaca .icon {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.newlist a {
    display: block;
    margin-top: 15px;
}
.reaca  {
    color: #808080;
}
.newlist {
    padding-top: 10px;
}
.reconLeft p {
    margin-top: 12px;
    color: #fff;
}
.left1 {
    margin-top: 39px;
}
.shoolname {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.shoolEname {
    font-size: 12px;
    color: #dbdbdb;
}
.leftxian {
    margin: 35px 0;
    border-top: 1px solid #ccc;
    width: 100%;
    opacity: .3;
}
.reconLeft p span {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}
.leftbtn {
    width:140px;
    height:34px;
    border:1px solid rgba(255,255,255,1);
    border-radius:17px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-top: 40px;
    line-height: 34px;
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.slider1 img{
width: 100%;
height: 100%;
}
.slider1 {position: relative;}
.footerslider {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    background: rgba(0, 0, 0, .3)
}
.swiper-button-prev,.swiper-button-next  {
    width: 27px ;
    height: 18px;
}
.swiper-button-next, .swiper-button-prev {top: 54%;}
.morencon {
    display: block;
}

.chatsSwiper {
    text-align: center;
    margin-top: 100px;
}
.chatsp {
    font-size: 32px;
    color: #404040;
    font-weight: bold;
}
.chatsp2 {
    font-size: 16px;
    margin-top: 15px;
    color: #808080;
}
.swiperchats {
    height: 490px;
    margin-top: 60px;
}
.weixinimg img {
    width: 224px ;
    opacity: .3;
}
.swiperchats .swiper-slide-active,.swiperchats .swiper-slide-duplicate-active{
    transform: scale(1);
    /* background: url('../images/re4.png') no-repeat 0 0 /100% 100%; */
    opacity: 1; 
    width: 244px;
    height: 512px;
  }
  .swiperchats .swiper-slide-active img,.swiperchats .swiper-slide-duplicate-active img {
    width: 210px;
    margin-left: 7px;
    opacity: 1; 
    height: 419px;
    margin-top: -20px;
  }
  
.weixinimg {
    height: 490px;
    width: 223px;padding-top: 32px;
}


.weixinimg {
    width:223px;
    height:458px;
    /* opacity:0.42; */
}

.swiperchats  .swiper-button-next,.swiperchats  .swiper-button-prev {
    background: #fff;
    width: 50px ;
    height: 50px ;
    border-radius: 50%;
    padding-top: 12px;
    top: 86%;
    z-index: 100;
    border: 1px solid #b20000;
}
.leftarr .icon {
    transform: rotate(180deg);
}
.swiperchats  .swiper-button-next:hover ,.swiperchats  .swiper-button-prev:hover {
    background: #b20000;
}
.swiperchats  .swiper-button-next:hover .icon ,.swiperchats  .swiper-button-prev:hover .icon{
    color: #fff;
}
.swiperchats .swiper-button-prev {
    z-index: 100;
    left: 372px;
}
.swiperchats .swiper-button-next {
    z-index: 100;
    right: 372px;
}
.phonebox {
    background: url('../images/bgimg.png') no-repeat 0 0 /100% 100%;
    opacity: 1; 
    width: 246px;
    height: 501px;
    position: absolute;
    top: 136px;
    left: 480px;
    z-index: 10;
}


.red1 {
      height: 113px;
      border-bottom: 1px solid #f0f0f0;
      padding-top:  5px;
}
.red1 p{
    margin-top: 20px;
    font-size: 14px;
    color: #2b2b2b;
    font-weight: bold;
    float: left;
}
 .reda1 {
    padding:0 10px;margin-left: 15px;
    margin-top: 20px;
    display: inline-block;
    height:26px;
    border-radius:13px;
    line-height: 26px;
}
.redright {
    float: left;
    width: 720px;
}
.ared {
    height:26px;
    background:rgba(178,0,0,1);
    border-radius:13px;
    color: #fff;
    line-height: 26px;
}

.reda1:hover {
    height:26px;
    background:rgba(178,0,0,1);
    border-radius:13px;
    color: #fff;
    line-height: 26px;
}
.redCon {
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
}
.rd2 {
    width: 206px;
    height: 467px;
    position: relative;
    top: 0;
    transition: .3s all linear;
    float: left;
    margin-left: 20px;
    margin-top: 24px;
}
.rd2:hover {
    top: -3px;box-shadow:0px 4px 8px 0px rgba(0, 0, 0, .3);
}
.rd2:hover .rd2_1{
    top: -3px;
    color: #b20000;
}
.rd2 img {
    width: 100%;
}
.rd2_1 {
    border: 1px solid #f2f2f2;
    border-top: none;
    padding: 5px 18px;
    width: 100%;
    padding-bottom: 10px;
    color: #212121;
    font-size: 15px;
}
.rexian {
    width: 100%;
    border-top: 1px solid #f2f2f2;
    margin: 15px 0 5px 0;
}
.rd2_2 span .icon {
    height: 13px;
    width: 10px;
    color: #999999;
    margin-right: 3px;
}
.rd2_2 {
    overflow: hidden;
}
.rd2_2 span:first-child {
    float: left;
    font-size: 12px;
    color: #666;
}
.rd2_2 span:last-child {
    float: right;font-size: 12px;
    color: #666;
}
.redCon .rd2:nth-child(4n+1) {
    margin-left: 0px;
}
.pageinfo {
    margin-top: 20px;
}

.rightSidebar {
    top: 188px;
}

.td2_1 {
    width: 100%;
    height: 46px;
    background: url('../images/redetail.png') no-repeat 0 0 /100% 100%;
    color: #b20000;
    font-size: 18px;
    text-align: center;
    line-height: 46px;
}
.td2 {border: none;}

.td3_2::before {
    content: '';
    width: 4px ;
    display: inline-block;
    height: 4px;
    border-radius: 50%;
    background: #b20000;
    position: relative;
    top: -3px;
    margin-right: 25px;
}
.td3_2 span:first-child {
    font-weight: bold;
    margin-right: 30px;
}
.td222 {
    margin: 50px 0 40px 0 ;
    width: 890px;
    margin-left: -23px;
}
.centerp {
	width: 451px;
	height: 17px;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(188, 188, 188, 1);
	line-height: 32px;
	margin: 0 auto;
}

.zanbox {
	width: 62px;
	text-align: center;
	margin: 0 auto;
	margin-top: 39px;
}

.zanbox p:first-child {
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border: 1px solid #b20000;
	line-height: 62px;
}

.zanbox p:last-child {
	color: #787878;
	margin-top: 5px;
}

/* CSS Document */
/*点赞*/
@-webkit-keyframes niceIn {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}

	70% {
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes niceIn {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5)
	}

	70% {
		-webkit-transform: scale(.8);
		-ms-transform: scale(.8);
		transform: scale(.8)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}

@-o-keyframes niceIn {
	0% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1)
	}

	50% {
		opacity: 1;
		-o-transform: scale(1.5);
		transform: scale(1.5)
	}

	70% {
		-o-transform: scale(.8);
		transform: scale(.8)
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1)
	}
}

@-moz-keyframes niceIn {
	0% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1)
	}

	50% {
		opacity: 1;
		-moz-transform: scale(1.5);
		transform: scale(1.5)
	}

	70% {
		-o-transform: scale(.8);
		transform: scale(.8)
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1)
	}
}

.niceIn {
	-webkit-animation: niceIn 0.8s .2s ease;
	-moz-animation: niceIn 0.8s .2s ease;
	-o-animation: niceIn 0.8s .2s ease;
	animation: niceIn 0.8s .2s ease;
}

.rdetail1 {
    padding-bottom: 25px;
}



.cdlast {
	color: #999999;
	font-size: 16px;
	line-height: 32px;
	margin-top: 30px;
}
.cdlast a{display: block;}
.cdlast a span {
	color: #666666;
}

.tuijianbox {
	width: 890px;
}
.tuijiantitle {
	color: #333333;
	font-size: 18px;
	border-left: 4px solid #b20000;
	padding-left: 10px;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 30px;
}
.tui1 {
	overflow: hidden;
}

.tui1 li {
	float: left;
	width: 100%;
	height: 36px;
	color: #666666;
	font-size: 14px;
	line-height: 36px;
}

.tui1 li .icon {
	width: 15px;
	height: 15px;
	color: #666;
}

.tui1 li span:first-child {
	float: left;
}

.tui1 li span:last-child {
	float: right;
	color: #999999;
	font-size: 12px;
}

.tuijianbox {
	width: 890px;
}

.tui1 li:hover {
	color: #b20000;
}

.tui1 li:hover .icon {
	color: #b20000;
}

.tui1 li:nth-child(2n) {
	margin-left: 9%;
}

.tui1 a {
	float: right;
	display: inline-block;
	width: 45%;
	font-size: 14px;
	color: #666666;
}
.tui1 a:nth-child(2n-1) {
	margin-left: 10%;
}
.blxian {
    width: 100%;
    border-top: 1px solid #f2f2f2;
    margin-top: 50px;
    margin-bottom: 20px;
}
.sway3 input {
    height: 87%;
}






