.headerBox {
    width: 100%;
    background: #F0F0F0;
    
}
.mainFirstBox {
    width: 1200px;
    margin: 0 auto;
    height: 32px;
    font-size: 12px;
    color: #808080;
    position: relative;
}

.headermap {
    width:9px;
    height:12px;
    margin-right: 5px;
}   
.headerSan {
    width:8px;
    height:7px;
    color: #757575;
    position: relative;
    top: -3px;
    margin-left: 10px;
}
.aheader1_1 {
    height: 32px;
    width: 150px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    border-left: 1px solid #B8B8B8;
    border-right: 1px solid #B8B8B8;
}
.aheader1_2 {
    border:none;
    width: 200px;
}
.aheaderphoneicon {
    width:13px;
    height:11px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.aheader1_3 {
    display: inline-block;
    width: 580px;
    margin-left: 170px;
}
.aheader1_3 li {
    display: inline-block;
    width: 75px;
    text-align: center;
}
.headerxian {
    height: 10px;
    display: inline-block;
    border-right: 1px solid #808080;
}
.aheader1_4 {
    width: 88px;
    height: 100%;
    display: inline-block;
}
.aheader1_4 span {
    display: inline-block;
    width: 42px;
    text-align: center;
    border-left: 1px solid #b8b8b8;
    height: 100%;
    padding-top: 8px;
}
.headerwei {
    width:18px;
height:14px;
color: #69BD2E;
}
.weiboheader {
    color: #FF000E;
    width:20px;
    height:16px;
}
.aheader1_4 span:last-child {
    border-right: 1px solid #b8b8b8;
}

.aheader2 {
    height: 128px;
    background: #fff;
}
.aheader2_1 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 31px;
}
.aheaderlogo {
    width:195px;
    height:59px;
    margin-right: 40px;
}
.aheadergif {
    width: 159px;
    height: 40px;
    background: #FF000E;
}
.aheaderinput {
    width: 300px;
    margin-left: 193px;
    display: inline-block;
}
.inputhead input {
    width:239px;
    border: 1px solid #C2C2C2;
    height: 34px;
}
.inputhead div {
    width:46px;
    height:34px;
    background:rgba(178,0,0,1);
    display: inline-block;
    padding-top: 3px;
    padding-left: 14px;
    margin-left: -5px;
    cursor: pointer;
}
.headerseach {
    width:16px;
    height:16px;
    color: #fff;
}
.aheaderinput p {
    margin-top: 8px;
    font-size: 12px;
}
.aheaderinput p span {
    font-weight: bold;
}
.aheaderinput p a {
    color: #999999;
    margin-left: 12px;
}
.phoneheaderda {
    width:50px;
    height:50px;
}
.aheader2_2 {
    display: inline-block;
    margin-left: 45px;
    position: relative;
    top: -10px;
}
.aheader2_2 div {
    margin-left: 10px;
}
.aheader2_2 div p:first-child {
    font-size: 16px;
    color: #2B2B2B
}
.aheader2_2 div p:last-child {
    font-size: 26px;
    font-weight: bold;
    color: #2B2B2B
}
.fenxiaoList {
    width:327px;
    height:128px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(219, 219, 219, 1); 
    position: absolute;
    top: -332px;
    padding: 22px;
    padding-top: 15px;
}
.fenxiaoList ul li a{
    color: #808080;
}
.fenxiaoList ul li {
    display: inline-block;
    margin-left: 25px;
    line-height: 30px;
    float: left;
}
.fenxiaoList ul {
    overflow: hidden;
}
.fenxiaoList ul li:nth-child(3n + 1) {
    margin-left: 0px;
}

.aheader1_1:hover .fenxiaoList {
    top: 32px;
}
.reda1:hover  {
    color: #b20000;
    font-weight: bold;
}
.aheader3 {
    width: 100%;
    background: #F0F0F0;
    height: 48px;
}
.center {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.shoutitle {
    width:80px;
height:48px;
background:rgba(178,0,0,1);
color: #fff;
font-size: 16px;
display: inline-block;
line-height: 48px;
text-align: center;
}
.aheader3_1 {
    display: inline-block;
}
.aheader3_1 li {
    width: 105px;
    height: 100%;
    padding-left: 8px;
    line-height: 48px;
    color: #2B2B2B;
    position: relative;
    font-size: 16px;
    display: inline-block;
}
.headerrightjian {
    width:16px;
    height:16px;
    margin-left: 5px;
    color: #808080;
}
.aheader3_1 li a img {
    position: absolute;
    top: 11px;
    left: 73px;
}
.aheader3_1 li:hover .liDropdown {
    top: 48px;
}
.aheader3_1 li:hover .headerrightjian {
    color: #b20000;
    transform:rotate(90deg);
}
.aheader3_1 li:hover  .headermaintitle{
    color: #b20000;
}
.aheader3_1 {
    padding-left: 15px;
}
.liDropdown {
    width:120px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(214, 214, 214, 1);
    border-top: 2px solid #b20000;
    position: absolute;
    top: 48px;
    left: -11px;
    line-height: 24px;
    font-size: 14px;
    padding: 11px 0 15px 0px;
    top: -448px;z-index: 2;
}
.liDropdown a span:first-child {
    margin-right: 5px;
    width: 6px;
    position: relative;
    top: -5px;
    display: inline-block;
    border-top: 2px solid #B3B3B3;
}
.liDropdown a {
    color: #6B6B6B;
}
.liDropdown a {
    display: block;
    text-align: left;
    padding-left: 15px;
}
.reda2:hover {
    color: #b20000;
    font-weight: bold;
}
.reda2:hover  .dropDownxian{
    border-top: 2px solid #b20000;
}

















































































































































































































