.newfooter {
    width: 1920px;
    background: #1A1A1A;
}
.newfooter1 {
    width: 100%;
    height: 65px;
}
.newfooter2 {
    width: 100%;
    height: 300px;
    background: #232323;
    position: relative;
}
.newfooter3 {
    height: 75px;
}
.newfootercenter {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 84%;
}
.fimgbox {
    float: left;
}
.f1pcon {
    float: left;
    color: #ccc;
    font-size: 18x;
    line-height: 65px;
    margin-left: 10px;
}
.f1input {
    float: left;
    margin-left: 119px;
}
.f1pcon span {
    color: #b20000;
    font-weight: bold;
    font-size: 20px;
}
.fimgbox {
    height: 130px;
    margin-top: -60px;
}
.fimgbox img {
    height: 100%;
}

.f1input1 {
    float: left;
    margin-top: 12px;
    background: #fff;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
}
.f1input1 input {
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: -3px;
    width: 150px;
}
.f1input1 .icon {
    height: 21px;
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
}
.f1input1 input[type='button'] {
    background: transparent;
    color: #fff;
    position: relative;
    top: -4px;
    left: -6px;
    width: 120px;
}
.f1input2 {
    color: #fff;
    font-size: 16px;
    background: #b20000;
    padding: 0 15px;
    padding-left: 8px;
}
.f1input2 .icon {
}
.f1input1span {
    display: inline-block;
    width:1px;
height:23px;
background: #999;opacity: .6;
    position: relative;
    top: 4px;
} 
.newfooter2 {
    padding-top: 35px;
    
}
.newfooter2_2 {
    background: url('../img/sprite.png') no-repeat -211px 0;
    width: 53px;
    display: inline-block;
    height: 46px;
    margin-left: 10px;
}
.newfooter2_3 ~ img {
    margin-top: 40px;
}
.newfooter2_4 {
    margin-left: 60px;
    float: left;
    width: 140px;
    color: #666666;
    font-size: 13px;
}
.newfooter2_1 {
    float: left;
}
.nf2_4p {
    font-size: 16px;
    margin-bottom: 20px;

}
.footerxian {
    width: 30px;
    height: 1px;
    background: #b20000;
    margin-bottom: 30px;
}
.nf2_5 {
    overflow: hidden;
}
.nf2_6 {
    float: left;
    line-height: 30px;
    
}
.nf2_6 a {
    display: block;
}
.nf2_7 {
    margin-left: 20px;
}

.nf3_2 {
    font-size: 13px;
    line-height: 30px;
}
.nf3_2 span {
    color: #b20000;
}

.newfooter4 {
    float: left;
    margin-left: 45px; width: 330px;
    font-size: 13px;
    color: #666666;
}
.newfooter5 {
    color: #666666;
    margin-left: 20px;
    float: left;   
}
.nf5_2 {
    font-size: 30px;
}
.nf5_2 span {
    font-size: 13px;
    color: #b20000;
    
}
.nf5_3 {
    margin-top: 17px;    position: absolute;
    bottom: 42px;
    right: -344px;
    width: 700px;
}
.nf5_3 a {
    display: inline-block;
    border-radius: 20px;
    height: 40px;
    background: #0F0F0F;
    padding: 8px 11px ;
    padding-right: 5px;
    color: #999;
    transition: all .3s linear;
    /* width: 40px; */
    overflow: hidden;
    
}

.nf5_3 a span {
    height: 18px;
}
.nf5_4 {
    /* display: none; */
    width: 0px;
    overflow: hidden;
    display: inline-block;
    transition: all .3s linear;
    font-size: 16px;
}
.ftqqa .icon {
    width: 21px;
    height: 21px;
}
.ftqqa:hover {
    display: inline-block;
    width: 160px;
}
.ftqqa:hover .nf5_4{
    width: 110px;
    display: inline-block;
}
.lastyouxiang:hover .nf5_4 {
    width: 160px;
    display: inline-block;
    font-size: 13px;
}
.lastyouxiang:hover {
    width: 210px ;
}
.lastyouxiang .nf5_4 {
    font-size: 12px;
}
.nfriendlink {
    width: 1200px;
    margin:  0 auto;
    height: 30px;
    line-height: 30px;
    color: #666666;
    font-size: 13px;
    overflow: hidden;
}
.nfriendlink .icon {
    width: 19px;
    height: 14px;
}
.nfriendlink p{
    float: left;
}
.nfriendlink1_1 {
    float: left;
}
.nfriendlink1_2 {
    padding: 0 15px;
    border-right: 1px solid #666;
    height: 16px;
    line-height: 16px;
    position: relative;
    top: 7px;
    float: left;
}
.newfooter3 {
    color: #66676C;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    padding-top: 20px;
}
























