.headerBox {
    width: 100%;
    background: #F0F0F0;
    
}
.mainFirstBox {
    width: 1200px;
    margin: 0 auto;
    height: 32px;
    font-size: 12px;
    color: #808080;
    position: relative;
}

.headermap {
    width:9px;
    height:12px;
    margin-right: 5px;
}   
.headerSan {
    width:8px;
    height:7px;
    color: #757575;
    position: relative;
    top: -3px;
    margin-left: 10px;
}
.aheader1_1 {
    height: 32px;
    width: 150px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    border-left: 1px solid #E0DADB;
    border-right: 1px solid #E0DADB;
}
.aheader1_2 {
    border:none;
    width: 200px;
}
.aheaderphoneicon {
    width:13px;
    height:11px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.aheader1_3 {
    display: inline-block;
    width: 580px;
    margin-left: 170px;
}
.aheader1_3 li {
    display: inline-block;
    width: 75px;
    text-align: center;
}
.headerxian {
    height: 10px;
    display: inline-block;
    border-right: 1px solid #808080;
}
.aheader1_4 {
    width: 88px;
    height: 100%;
    display: inline-block;
}
.aheader1_4 span {
    display: inline-block;
    width: 42px;
    text-align: center;
    border-left: 1px solid #b8b8b8;
    height: 100%;
    padding-top: 8px;
}
.headerwei {
    width:18px;
height:14px;
color: #69BD2E;
}
.weiboheader {
    color: #FF000E;
    width:20px;
    height:16px;
}
.aheader1_4 span:last-child {
    border-right: 1px solid #b8b8b8;
}

.aheader2 {
    height: 128px;
    background: #fff;
}
.aheader2_1 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 31px;
}
.aheaderlogo {
    width:195px;
    height:59px;
    margin-right: 40px;
}
.aheadergif {
    width: 159px;
    height: 40px;
    background: #FF000E;
}
.aheaderinput {
    width: 300px;
    margin-left: 193px;
    display: inline-block;
}
.inputhead input {
    width:239px;
    border: 1px solid #C2C2C2;
    height: 34px;
}
.inputhead div {
    width:46px;
    height:34px;
    background:rgba(178,0,0,1);
    display: inline-block;
    padding-top: 6px;
    padding-left: 14px;
    margin-left: -5px;
    cursor: pointer;
}
.headerseach {
    width:16px;
    height:16px;
    color: #fff;
}
.aheaderinput p {
    margin-top: 8px;
    font-size: 12px;
}
.aheaderinput p span {
    font-weight: bold;
}
.aheaderinput p a {
    color: #999999;
    margin-left: 12px;
}
.phoneheaderda {
    width:50px;
    height:50px;
}
.aheader2_2 {
    display: inline-block;
    margin-left: 45px;
    position: relative;
    top: -10px;
}
.aheader2_2 div {
    margin-left: 10px;
}
.aheader2_2 div p:first-child {
    font-size: 16px;
    color: #2B2B2B
}
.aheader2_2 div p:last-child {
    font-size: 26px;
    font-weight: bold;
    color: #2B2B2B
}
.fenxiaoList {
    width:327px;
    height:128px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(219, 219, 219, 1); 
    position: absolute;
    top: -332px;
    padding: 22px;
    padding-top: 15px;
}
.fenxiaoList ul li a{
    color: #808080;
}
.fenxiaoList ul li {
    display: inline-block;
    margin-left: 25px;
    line-height: 30px;
    float: left;
}
.fenxiaoList ul {
    overflow: hidden;
}
.fenxiaoList ul li:nth-child(3n + 1) {
    margin-left: 0px;
}

.aheader1_1:hover .fenxiaoList {
    top: 32px;
}
.reda1:hover  {
    color: #b20000;
    font-weight: bold;
}
.aheader3 {
    width: 100%;
    background: #F0F0F0;
    height: 48px;
}
.center {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.shoutitle {
    width:80px;
height:48px;
background:rgba(178,0,0,1);
color: #fff;
font-size: 16px;
display: inline-block;
line-height: 48px;
text-align: center;
}
.aheader3_1 {
    display: inline-block;
}
.aheader3_1 li {
    width: 105px;
    height: 100%;
    padding-left: 8px;
    line-height: 48px;
    color: #2B2B2B;
    position: relative;
    font-size: 16px;
    display: inline-block;
}
.headerrightjian {
    width:16px;
    height:16px;
    margin-left: 5px;
    color: #808080;
}
.aheader3_1 li a img {
    position: absolute;
    top: 11px;
    left: 73px;
}
.aheader3_1 li:hover .liDropdown {
    top: 48px;
}
.aheader3_1 li:hover .headerrightjian {
    color: #b20000;
    transform:rotate(90deg);
}
.aheader3_1 li:hover  .headermaintitle{
    color: #b20000;
}
.aheader3_1 {
    padding-left: 15px;
}
.liDropdown {
    width:120px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(214, 214, 214, 1);
    border-top: 2px solid #b20000;
    position: absolute;
    top: 48px;
    left: -11px;
    line-height: 24px;
    font-size: 14px;
    padding: 11px 0 15px 0px;
    top: -448px;
    z-index: 2;
}
.liDropdown a span:first-child {
    margin-right: 3px;
    width: 10px;
    position: relative;
    top: -5px;
    display: inline-block;
    border-top: 2px solid #B3B3B3;
    left: -11px;
    transition: all .3s linear;
}
.liDropdown a {
    color: #6B6B6B;
}
.liDropdown a {
    display: block;
    text-align: left;
    margin-left: 13px;
    overflow: hidden;
}
.reda2:hover {
    color: #b20000;
    font-weight: bold;
}
.reda2:hover  .dropDownxian{
    border-top: 2px solid #b20000;
}
.reda2:hover  span:first-child{
    /* display: inline-block !important; */
    left: 0px;
}
.liDropdown a span:last-child {
    position: relative;
    left: -11px;
    transition: all .3s linear;
}
.reda2:hover  span:last-child  {
    left: 0px;
}

.aheader1_4:hover {
    cursor: pointer;
}
.aheader1_4 a {
    display: inline-block;
    width: 37px;
    height: 31px;
}




.aheader1_4 span {
    position: absolute;
    top: 0;
    right: 0;
}
.aheader1_4 span:first-child {
    right: 40px;
}
.headerimgbox {
    position: absolute;
    top: 32px;
    left: -18px;
    background: #fff;
    z-index: 10;
    display: none;
}

.aheader1_4 span:hover img {
    display: block;
}

/* 浮窗 */
/* 浮窗 */
/* 浮窗 */
.fixedKefu {
    display: none;
    position: fixed;
    top: 30%;
    left: 51%;
    text-align: center;
    z-index: 1000;
    margin-left: 600px;
    border: 1px solid #ddd;
}
.kefuHeader img {
    position: absolute;
    left: -50%;
    bottom: 0;
    padding-left: 4px;
    padding-bottom: 5px;
    max-width: 1980px;
    font-size: 18px;
}
.kefuHeader {
    position: relative;
}
.mrightcon1 {
    background-color: #C30B0B;
    color: #ffffff;
    width: 60px;
    
    border-bottom: 1px solid #ddd;
}
.mrightcon1 a {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}
.mrightcon1:hover {
    cursor: pointer;
}
.mrightcon1  > .icon {
    width: 28px;
    height: 28px;
    fill: currentColor;
    overflow: hidden;
    color: #989898;
}
.mrightcon1 a .icon {
    color: #989898;
}
.mselectright a{
    color: rgb(152, 152, 152);
    text-decoration: none;
}
.mselectright a:hover{
    color: #fff;
    background-color: #C30B0B;
    text-decoration: none;
}
.mselectright {
    background: #fff;
}
.blockSelect {
    padding: 10px 0px;
    position: relative;
    color: rgb(152, 152, 152);
}
.righterimg {
    position: absolute;
    left: 1160px;
    top: -19px;
}
.blockSelect:hover {
    color: #fff;
    background-color: #C30B0B;
}
.blockSelect:hover .righterimg {
    left: -116px;
}
.rightconm {
    position: absolute;
    left: 2000px;
    top: 0px;
    height: 69px;
    background: #C30B0B;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    width: 200px;
}
.blockSelect:hover .rightconm {
    left: -200px;
}
.getTopright {
    background: #ccc;
    cursor: pointer;
    padding: 14px 0;
}

.blockSelect:hover .icon{
    color: #fff;
    background-color: #C30B0B;
}
.mselectright:hover a .icon{
    color: #fff;
    background-color: #C30B0B;
}


/* footer */
.Mfooter {
    width: 100%;
    background: #333333;
    margin-top: 120px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
}
.MfooterCon {
    width: 1200px;
    margin: 0 auto;
}
.MfooterC1 {
    background-color: #292929;
    width: 100%;
    padding: 12px;
    min-width: 1200px;
}
.footerC1-1 {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
    position: relative;
    line-height: 70px;
    padding: 0 80px;
}
.footerimg {
    width: 182px;
    height: 160px;
    display: inline-block;
    position: absolute;
    top: -88px;
    left: 60px;
}   
.footerimg img {
    width: 100%;height: 100%;
}
.footerCp {
    display: inline-block;
    font-size: 20px;
    position: relative;
    vertical-align: inherit;
    color: #fff;
    margin-left: 154px;
}
.footerCp span {
    color: #B20000;
    font-weight: bold;
    font-size: 22px;
}
.inputGroup {
    position: absolute;
    right: 30px;    
    top: 0;
}

.footerinput {
    background-color: #fff;
    display: inline-table;
    line-height: 34px;
    vertical-align: middle;
}

.iconinput {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    display: table-cell;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
}
.iconinput img {
    vertical-align: middle;
    height: 14px;
}
.footerinput input {
    display: table-cell;    vertical-align: middle;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.iii23 {
    background: #c30b0b;
    color: #fff;
    font-size: 14px;
    padding: 2px 12px;
}
.iii23 img {
    vertical-align: middle;

}
.MfooterCon {
    display: table;
    height: 247px;
    color: #fff;
    width: 1200px;
    margin: 0 auto;
}
.MfooterC2 {
    display: table-cell;
    vertical-align: center;
}
.c41 {
    width: 25%;
}
.c42{
    width: 50%;
}
.c41p {
    color: #fff;
    position: relative;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.c41p:after {
    content: '';
    background-color: #c30b0b;
    height: 3px;
    width: 25px;
    display: inline-block;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 20px;
}
.c41phone {
    font-size: 30px;
    padding-left: 15px;
    min-width: 375px;
}
.c41phone img {
    vertical-align: middle;
}
.c41p2 {
    padding: 10px 20px;
    color: #989898;
}
.fkefu {
    padding: 10px 20px;
}
.kefubtn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    background-color: #c30b0b;
    color: #fff;
    border-radius: 20px;
    line-height: 35px;
    padding: 4px 22px;
    text-decoration: none;
}
.kefubtn img {
    vertical-align: middle;
}

.aboutDaren {
    padding: 0;
    list-style: none;
    padding-left: 20px;    margin-top: 0;
    margin-bottom: 10px;
}
.aboutDaren li {
    width: 49%;
    display: inline-block;    list-style: none;
}
.aboutDaren li a {
    color: #989898;
    line-height: 1.8;
    font-size: 14px;
}
.addressFooter {
    color: #989898;
    padding-left: 20px;
    line-height: 26px;
}

.weixinFooter {
    display: inline-block;
    margin-left: 20px;
    color: #989898;
    cursor: pointer;
    position: relative;    font-size: 14px;
    line-height: 1.42857143;
}
.weixinFooter img {
    vertical-align: middle;
}
.qrcode {
    display: none;
    position: absolute;
    bottom: -100px;
    left: -20px;
    z-index: 10000;
    max-width: 1980px
}
.weixinFooter:hover .qrcode {
    display: block;
}
.mlaster {
    height: 49px;
}
.lastercon {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    line-height: 49px;
    color: #989898;
}
.lastercon {
    position: relative;
    top: -10px;
}
.mfooter {
    width: 7.5rem;
    overflow: hidden;
}
.mfooter .MfooterC1 {
    width: 7.5rem;
    min-width: 7.5rem;
    height: 4.5rem;
}
.mfooter .MfooterCon {
    width: 7.5rem;
}
.mfooter .footerimg {
    display: none;
}
.mfooter .footerCp {
    margin-left: 0px;
}
.mfooter .footerC1-1 {
    padding: 0 .9rem;
}
.mfooter .inputGroup {
    left: -11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: .78rem;
}
.mfooter .footerC1-1 {
    width: 7.5rem;
    font-size: .12rem;
    line-height: .6rem;;
}
.mfooter .footerCp {
    font-size: .33rem;
}

.mfooter .footerinput input {
    width: 6rem;
}
.mfooter .footerinput  {
    margin-top: .2rem;
}
.mfooter .iii23 {
    width: 6.8rem;
    text-align: center;
    border-radius: .1rem;
}
.mfooter .iii23 img{
    display: none;
}
.mfooter .mc41 {
    display: none;
}
.mfooter .c41phone img {
    display: none;
}
.mfooter .fkefu {
    float: right;
}
.mfooter .kefubtn img {
    height: .45rem;
}
.mfooter .kefubtn  {
    padding: .01rem .3rem;
    position: absolute;
    top: 1.5rem;
    right: .2rem;
}
.mfooter .MfooterCon {
    height: 2rem;
    overflow: hidden;
    position: relative;
}
.mfooter .lastercon {
    width: 100%;
    line-height: .35rem;
}
.mfooter .mlaster {
    padding: .6rem .4rem;
    height: 1.5rem;
}
.frombntfotoer {
    background: transparent !important;
    border: none !important;
    color: #fff !important;
}
.frombntfotoer:hover {
    cursor: pointer;
}




















































































































































































