
.byc{
    width:1200px;
    margin: 0 auto;
    position: relative;
    height: 263px;
}

#center,#center2 {
    z-index: 2;position: absolute; top: 70px; left:0
}

#slider,#slider2 {
    z-index: 1;
    position: absolute;
    width: 1200px;
    background: #000;
    height: 260px;
    overflow: hidden;
    top: 0;
    left: 0

}
#slider .slide,#slider2 .slide {
    z-index: 10;
    position: absolute;
    width: 760px;
    height: 260px;
    overflow: hidden;
    top: 0;
    cursor: default;
    left: 22px;
    text-align:left;
    background: #333;
    border-right: 5px solid #fff;
	margin-left:-2px;

}
#slider .title,#slider2 .title {
    color: #f80; font-size: 1.2em; font-weight: bold; margin-right: 1.5em; text-decoration: none;
}
#slider .text,#slider2 .text {
    display: none;
}
#slider .p,#slider2 .p{
    width: 200px;
    height: 260px;
    color: #fff;
    position: absolute;
    left: 300px;
    top: 0;

}
#slider .p img,#slider2 .p img{
    display: inline-block;
    margin: 40px 0  20px 0;
}
#slider .p span,#slider2 .p span{
    margin-right: 50px;
    font-size: 12px;
    color: #fff;
    line-height: 20px; display: block;
}
#slider .pp,#slider2 .pp {
    width: 188px;
    height: 260px;
    color: #fff;
    background: #fa5349;
    position: absolute;
    left: 500px;
    top: 0;
    padding: 0 20px;

}
#slider .pp dt,#slider2 .pp dt{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #ff867f;
    padding: 30px 0 5px 0;
}
#slider .pp dt span,#slider2 .pp dt span{
    font-size: 14px;
    margin-left: 10px;
}
#slider .pp dd,#slider2 .pp dd{
    font-size: 12px;
    color: #ffbdb9;
    line-height: 20px;
    margin-top: 15px;

}
#slider .pp a,#slider2 .pp a{
    background: #fff;
    width: 50px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    color: #fa5349;
    display: block;
    margin: 0 0 0 130px;
	position:absolute;
	bottom:20px;
}
#slider .diapo,#slider2 .diapo {
    position: absolute;
    border-left: 3px solid #fff;

}

















































