
/* 模板样式 */
.fanbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 .3rem;
    height: .8rem;
    align-items: center;
}

.fanbox1 .icon {
    transform: rotate(180deg);
    color: #666666;
    height: .3rem;
}

.fanbox1 a {
    display: flex;
    font-size: .24rem;
    align-items: center;
    color: #666666;
}

.fanbox1~p {
    font-size: .3rem;
    color: #3D3D3D;
}

.fanbox2 {
    width: .8rem;
}

.footerform {
    width: 7.5rem;
    height: 6.66rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerform1_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 2.3rem;
    background: rgba(0, 0, 0, 1);
}

.footerform1_2 img {
    width: 100%;
    height: 100%;
}

.footerform1_3 {
    position: absolute;
    z-index: 2;
    color: #fff;
    text-align: center;
    font-size: .36rem;
    top: .51rem;
}

.footerform1_3 .icon {
    color: #fff;
    width: .4rem;
    height: .34rem;
}
.formfooter1_4 {
    position: absolute;
    top: 1.34rem;
    width: 6.9rem;
    height: 4.72rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12)
}

.formfooter1_4 {
    padding: .25rem .31rem;
}
.formfooter1_6 .icon {
    height: .3rem;
    width: .3rem;
    color: #8F8F8F;
    font-size: .26rem;
    margin-right: .11rem;


}

.formfooter1_5 {
    height: .71rem;
    display: flex;
    font-size: .24rem;
    align-items: center;
    border-bottom: .01rem solid rgba(0, 0, 0, .2);
    margin-top: .1rem;
}

.formfooter1_6 {
    margin-top: .38rem;
    color: #454545;
}

.formfooter1_7 {
    width: 6.3rem;
    height: 0.7rem;
    background: rgba(178, 0, 0, 1);
    border-radius: 0rem;
    margin-top: .46rem;
    border-radius: .05rem;
    color: #fff;
    font-size: .26rem;
}

.formfooter1_5 input::-webkit-input-placeholder {
    color: #ccc;
}

.formfooter1_5 input {
    height: 100%;
    width: 80%;
    padding-left: .1rem;
}

.lastboxfooter {
    width: 7.5rem;
    height: 3.5rem;
    background: rgba(43, 43, 43, 1);
}

.lastboxfooterp {
    display: flex;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-size: .32rem;
}

.lastboxfooter {
    font-size: .2rem;
    color: #fff;
    text-align: center;
}

.lastboxfooterp2 {
    color: #E0E0E0;
}

.lastboxfooterp3 {
    color: #ABABAB;
    margin-top: .25rem;
}

.lastboxfooterp4 {
    margin-top: .1rem;
    color: #ABABAB;
}
/* 模板结束 */
/* 达人荣誉 */
.honor1 {
    width:7.5rem;
    height:4.3rem;
    background:url('../img/honor2.jpg') no-repeat 0 0 /100% 100%;
    text-align: center;
    color: #fff;
    font-size: 0.28rem;
    padding-top: 1.3rem;
    
}
.honor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.honor2_1 {
    font-size: 0.6rem;
    margin-bottom: .2rem;
}
.honorxian {
    width:0.79rem;
    height:0.03rem;
    background:rgba(255,255,255,1);
    margin-bottom: .4rem;
}
.honor2_2 {
    font-size: 0.28rem;
}
.honorContent {
    padding: .6rem .3rem;
    background: #FFF;
}
.honortitle {
    height: 1.3rem;
    font-size: 0.38rem;
    color: #363636;
    border-bottom: .01rem solid rgba(0, 0, 0, .2);
}
.honorslider {
    margin-top: .4rem;
}
.honortitle p:first-child {
    color: #b20000;
    margin-bottom: .01rem;
}
.honormain img {
    width: 100%;
}
.honorslider {
    text-align: center;
    font-size: 0.3rem;
    color: #3d3d3d;
}
.honorimgbox {
    width:6.89rem;
    height:5.12rem;
    background:rgba(242,242,242,1);
    padding: .3rem .45rem;
    margin-bottom: .2rem;
}
.honorbtn {
    display: inline-block;
    width:6.9rem;
    height:0.8rem;
    background:rgba(178,0,0,1);
    border-radius:0.1rem;
    margin-top: .6rem;
    color: #fff;
    text-align: center;
    font-size: .28rem;
    line-height: .8rem;
}
.advantage1 {
    text-align: center;
    border: none;
}
/* 达人优势 */
.advan2 {
    display: flex;
    justify-content: space-between;
    margin-top: .2rem;
}
.advan2_1 {
    width:3.29rem;
    height:0.57rem;
    text-align: center;
    line-height: .57rem;
    color: #666;
    font-size: 0.24rem;
    background: url('../img/advan2.png') no-repeat 0 0 /100% 100%;
}
.advan2_1active {
    color: #fff;
    background: url('../img/advan1.png') no-repeat 0 0 /100% 100%;
}

.advan2Con {
    display: none;
    width: 100%;
    margin-top: .6rem;
    border-radius: .1rem;
}
.moren {
    display: block;
}
.advan2Con img {
    width: 100%;
}
.lititle {
    padding: .5rem .3rem ;
    position: relative;
}
.advan3 {
    padding-left: .3rem;
    color: #3d3d3d;
    font-size: .38rem;
    border-left: .03rem solid #b20000;
    line-height: .4rem;
    position: absolute;
    left: 0rem;
    top: .5rem;
}
.advan4 {
    margin-top: .6rem;
    border-top: .01rem solid rgba(0, 0, 0, .2);
    padding-top: .15rem;
    font-size: 0.26rem;
    color: #666;
    line-height: .4rem;
}
.advan4 p {
    margin-top: .15rem;
}
.advan2slider {
    box-shadow:0rem 0rem .2rem 0.09rem rgba(0, 0, 0, 0.16);
    margin-top: .4rem;
    border-radius: .1rem;
    overflow: hidden;
}
.oneenv1 {
    color: #666;
    font-size: .24rem;
    margin: .3rem 0  .4rem 0;
    line-height: .4rem;
}
.oneimgbox img {
    width: 100%;
}
.oneimgbox2 img {
    width: 3.35rem;
    height: 2.34rem;
}
.oneimgbox2 {
    margin-top: .1rem;
    display: flex;
    justify-content: space-between;
}
.twoenv {
    background: #F2F7FA;
}
.envcontent {
    padding: .4rem .3rem;
    background: #F2F7FA;
}
.oneimgbox1_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.oneimgbox1_1 > img {
    width: 3.2rem;
}
.oneimgbox2_1 img {
    width: 3.5rem;
}
.oneimgbox2_1 img:last-child {
    margin-top: .15rem;
}
.envcontentwhite {
    background: #fff;
}
.oneimgbox1_2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.oneimgbox1_2 img {
    width: 3.35rem;
    margin-top: .2rem;
    height: 2.32rem;
}
.oneimgbox1_2 img:first-child {
    margin-top: 0;
}
.oneimgbox1_2 img:nth-child(2) {
    margin-top: 0;
}
.oneimgbox3 img {
    width: 100%;
}
.oneimgbox3_1 {
    display: flex;
    margin-top: .1rem;
    justify-content: space-between;
}
.changtu{
    width: 3.35rem !important;
    height: 4.79rem;
}
.oneimgbox3_2 img:last-child {
    margin-top: .1rem;
}
.oneimgbox3_2 img {
    width: 3.35rem;
}
.jiejianp {
    font-size: .24rem;
    color: #666;
    margin-top: .2rem;
    line-height: .4rem;
}
.videoBox {
    width: 6.9rem;
    margin-top: .4rem;
}
.videoBox img {
    width: 100%;
}
.jianjie1 {
    padding: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.jianjie1_1 {
    width: 48%;
    margin-top: .2rem;
}
.jianjie1_1 p:first-child span {
    color: #b20000;
    font-size: .7rem;
    font-weight: bold;
}
.jianjie1_1 p:first-child {
    color: #454545;
    font-size: .24rem;
}
.jianjie1_1 p:last-child {
    color: #4D4D4D;
    font-size: .22rem;
    margin-top: .1rem;
}
.jianjie2 {
    padding: .5rem .3rem;
}
.jianjie2_1 {
    background: #fff;
    border-radius: .05rem;
    overflow: hidden;
    position: relative;
    margin-top: .4rem;
}
.jianjie2_2 {
    width:6.9rem;
    height:3.65rem;
    border-radius:0rem 0rem 0rem 0rem;

}
.jianjie2_2 img {
    width: 100%;
    height: 100%;
}
.jianjie2_5 {
    width:0.94rem;
    height:0.94rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0rem 0.05rem 0.03rem rgba(178,0,0,0.14);
    border-radius:50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 3.16rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jianjie2_3 {
    padding:.4rem .3rem;
    position: relative;
    color: #666666;
    font-size: .24rem;
    line-height: .4rem;
    padding-top: 1.1rem;
}
.jianjie2_4 {
    position: absolute;
    left: 0;
    top: .4rem;
    font-size: 0.38rem;
    color: #3d3d3d;
    padding-left: .3rem;
    border-left: .03rem solid #b20000;
    height: .36rem;
}
.jianjie2_5 .icon {
    color: #b20000;
    width: .42rem;
}
.summer1 {
    background: url('../img/summer1.jpg') no-repeat 0 0 /100% 100%;
}
.summer2 {
    padding:.6rem .3rem;
    background: #fff;
}
.summertitle {
    width: 4rem;
    margin: 0 auto;
    color: #3D3D3D;
    font-size: .34rem;
    font-weight: bold;
    position: relative;
}
.summertitle1 {
    width:0.32rem;
    height:0.32rem;
    background:rgba(178,0,0,1);
    opacity:0.16;
    border-radius:50%;
    position: absolute;
    left: -0.16rem;
    top: -.05rem;
}
.summertitle p span {
    font-size: .18rem;
    color: #87DFEC;
}
.summer2_1 {
    box-shadow: 0 0 .04rem .03rem rgba(0, 0, 0, .1);
    margin-top: .6rem;
    border: .01rem solid #fff;
    /* border-top-right-radius: .35rem;
    border-top-left-radius: .35rem;
    overflow: hidden; */
    width: 100%;
}
.summer2_2 {
    height: .7rem;
    border-radius: .35rem;
    width: 102%;
    padding-left: .3rem;
    color: #fff;
    font-weight: bold;
    font-size: 0.28rem;
    line-height: .7rem;
    background: url('../img/summer2.png') no-repeat 0 0 /100% 100%;
    margin-top: -.35rem;
    margin-left: -1%;
}
.summer2_21 {
    background: url('../img/summer3.png') no-repeat 0 0 /100% 100%;

}
.summer2_22 {
    background: url('../img/summer4.png') no-repeat 0 0 /100% 100%;
}
.summer2_23 {
    background: url('../img/summer5.png') no-repeat 0 0 /100% 100%;
}
.summer2_24 {
    background: url('../img/summer6.png') no-repeat 0 0 /100% 100%;
}
.summer2_25 {
    background: url('../img/summer7.png') no-repeat 0 0 /100% 100%;
}
.summer2_3 {
    padding: .3rem;
    padding-bottom: .6rem;
}
.summer2_3 p:first-child {
    padding-bottom: .15rem;
    border-bottom: .01rem solid rgba(0, 0, 0, 0.16);
    font-size: 0.28rem;
    color: #3d3d3d;
}
.summer2_3 p:last-child {
    margin-top: .15rem;
    color: #666666;
    font-size: .24rem;
    line-height: .4rem;
}
.summer3 {
    background: #f5f5f5;
}
.summer4 {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: .4rem;
}
.sliderall {
    background: #fff;
    box-shadow: 0 0 .04rem 0.03rem rgba(0, 0, 0, .1);
}
.summer5 {
    width: 2.25rem;
    height: 0.86rem;
    background: url('../img/subg1.png') no-repeat 0 0 /100% 100%;
    margin-left: .06rem;
    text-align: center;
    padding-top: .26rem;
    color: #595959;
    font-weight: bold;
    font-size: .26rem;
}
.summer5_1 {
    background: url('../img/subg2.png') no-repeat 0 0 /100% 100%;
    margin-top: -.09rem;
}
.summer4 div:nth-child(1) {
    margin-left: 0rem;
}
.summer4 div:nth-child(4) {
    margin-left: 0rem;
}

.sucon1 {
    background: #f7f7f7;
}
.summer4con {
    color: #666666;
    font-size: .24rem;
    line-height: .4rem;
    display: none;
    padding-bottom: .5rem;
}
.moren {
    display: block;
}
.su4title {
    width: 100%;
    padding-left: .3rem;
    border-left: .03rem solid #b20000;
    line-height: .31rem;
    font-size: 0.3rem;
    font-weight: bold;
    color: #3d3d3d;
}
.suxian {
    border-bottom: .01rem solid rgba(0, 0, 0, .2);
    width: 100%;
    height: .02rem;
    margin: .24rem 0;
}
.sucon {
    padding: .4rem .3rem;
}
.xuefei {
    padding: .5rem .3rem;
    padding-top: .1rem;
    display: flex;
}
.leftxue {
    width:1.96rem;
    height:0.6rem;
    background:linear-gradient(0deg,rgba(250,164,73,1),rgba(255,107,84,1));
    border-radius:0.3rem 0rem 0rem 0.3rem;
    font-size: 0.26rem;
    color: #fff;
    text-align: center;
    line-height: .6rem;
}
.rightxue {
    width:4.39rem;
    height:0.6rem;
    background:rgba(255,255,255,1);
    border-radius:0rem 0.3rem 0.3rem 0rem;
    border: .01rem solid rgba(0, 0, 0, 0.16);
    line-height: .6rem;
    padding-left: .4rem;
    font-size: .26rem;
    color: #666;
}
.rightxue p span { 
    color: #B20000;
    font-weight: bold;
}
.suactive1 {
    background: url('../img/active_qinghua.png') no-repeat 0 0 /100% 100%;
    color: #fff;
}
.suactive2 {
    color: #fff;
    background: url('../img/active_qingyang.png') no-repeat 0 0 /100% 100%;
}
.suactive3 {
    color: #fff;
    background: url('../img/active_yangmei.png') no-repeat 0 0 /100% 100%;
}
.suactive4 {
    color: #fff;
    background: url('../img/active_zonghe.png') no-repeat 0 0 /100% 100%;
}
.suactive5 {
    color: #fff;
    background: url('../img/active_meiyuan.png') no-repeat 0 0 /100% 100%;
}
.suactive6 {
    color: #fff;
    background: url('../img/active_yingshi.png') no-repeat 0 0 /100% 100%;
}
.jixun2 {
    width:6.3rem;
    background:rgba(255,255,255,1);
    border:0.01rem solid rgba(252, 140, 78, 0.25);
    margin: 0 auto;
    margin-top: .3rem;
    padding-bottom: 0rem;
}
.jixun2title {
    width:100%;
    height:0.64rem;
    background:linear-gradient(0deg,rgba(250,164,73,1),rgba(255,107,84,1));
    color: #FFF;
    font-size: 0.28rem;
    text-align: center;
    line-height: .64rem;
    border-radius:0rem 0rem 0.32rem 0.32rem;
}
.jixun2con {
    padding: .3rem;
    font-size: 0.24rem;
    color: #666;
}
.jixun3 {
    width: 100%;
    padding-top: .5rem;
    background: #fff;
    padding-bottom: .6rem;
}
.jixun3con {
    width: 6.9rem;
    margin: 0 auto;
    box-shadow: 0 0 .04rem .03rem rgba(0, 0, 0, 0.16);
    margin-top: .4rem;
}
.jixun3title {
    color: #fff;
    width:6.9rem;
    height:0.9rem;
    background:linear-gradient(90deg,rgba(235,100,111,1),rgba(242,110,122,1));
    border-radius:0rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.32rem;
}
.jixun3title .icon {
    color: #fff;
    margin-right: .2rem;
}
.jixun3title span:last-child {
    font-size: .24rem;
}
.mainjixun3 {
    padding: .3rem;
}
.mainconkuai {
    display: flex;
    padding: .4rem 0;
    flex-direction: column;
    justify-content: center;
    border-top: .01rem solid rgba(0, 0, 0, 0.16);
    font-size: 0.24rem;
    color: #666;
}
.mainkuai1 {
    width:1.42rem;
    height:0.46rem;
    background:rgba(178,0,0,1);
    border-radius:0.23rem 0.23rem  0rem 0.23rem;
    font-size: 0.26rem;
    color: #fff;
    line-height: .46rem;
    text-align: center;
    margin-bottom: .2rem;
}   
.jixunhahap {
    padding: .3rem 0;
    color: #666;
    font-size: .24rem;
}
.jixunhahap p:first-child {
    color: #3D3D3D;
    font-size: .28rem;
    font-weight: bold;
    margin-bottom: .1rem;
}
/* 发展历程 */

.lichengbox {
    position: relative;
    padding-top: .4rem;
}
.lileft {
    width:1rem;
    height:1.14rem;
}
.lileft img {
    width: 100%;
    height: 100%;
}
.li1 {
    display: flex;
    align-items: center;
    height: 1.5rem;
    position: relative;
}
.liright {
    margin-left: .4rem;
}
.lirp {
    color: #C2C2C2;
    font-size: .46rem;
    font-weight: bold;
}
.lirp2 {
    font-size: 0.24rem;
    color: #5C5C5C;
    margin-top: .05rem;
}
.liimg2 {
    display: none;
}
.activeli .liimg1 {
    display: none;
}
.activeli .liimg2 {
    display: block;
}
.activeli .lirp {
    color: #B20000;
}
.redxianshu {
    position: absolute;
    height: .4rem;
    width: .02rem;
    border-left: .01rem dashed #b20000;
    top: -.2rem;
    left: .5rem;
    opacity: .54;
}
.luosiimg {
    width: .15rem !important;
    height: .15rem !important;
}
.lastlibox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
}
.lastlibox1 .redxianshu{
    height: 1rem;

}












