
.indexHeader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 120;
}
.indexHeader {
    width:7.5rem;
    height:1.1rem;
    padding: .17rem .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.10);
}
.headerMain {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: .25rem;
    border-bottom: .01rem solid rgba(54,54,54,.16);
}
.headerMain > p:first-child {
    font-size:0.36rem;
    font-family:"PingFang SC";
    font-weight:bold;
    color:rgba(61,61,61,1);
    border-left: .05rem solid #b20000;
    padding-left: .24rem;
    line-height: .36rem;
}
.headerMainp {
    color: #B3B3B3;
    font-size: .22rem;
}
.leftHeader span{
    display: inline-block;
    width:0.4rem;
    height:0.02rem;
    background:rgba(43,43,43,1);
    position: absolute;
    top: 0%;
    transition: all .3s linear;
    
}
.leftHeader .hline1 {
    top: 0%;
    transform: rotate(0deg)
}
.leftHeader .hline2 {
    top: 50%;
}
.leftHeader .hline3 {
    top:100%;
}
.leftHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: .3rem;
    position: relative;
    width: .4rem;
}

.headerSlider {
    background: #262626;
    padding: 0.3rem .4rem;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 1.1rem;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: scroll;
    left: -7.5rem;
    opacity: 0;
}
.boxslider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.1rem;
    font-size: .3rem;
    color: #fff;
    padding-right: .3rem;
    
}
.lislider {
    border-bottom: .01rem solid rgba(255, 255, 255, .2);
    position: relative;
    opacity: 0;
    transition: all .3s linear;
}
.spanheng {
    display: inline-block;
    width:0.26rem;
    height:0.03rem;
    background:rgba(255,255,255,1);
    position: absolute;
    top: 50%;
}
.spanshu {
    display: inline-block;
    width:0.26rem;
    height:0.03rem;
    background:rgba(255,255,255,1);
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    transition: all .3s linear;
}
.boxfangxiang {
    width: .3rem;
    height: .3rem;
    position: relative;
}
.animateBox {
    color:#fff;
    overflow: hidden;
    /* padding: .15rem 0; */
    /* display: none; */
    height: 0rem;
    transition: all .3s linear;
}
.liconmian p a {
    padding-left: 3%;
    color: #fff;
    opacity: .9;
    display: block;
}
.liconmian p {
    font-size: .24rem;
    line-height: .8rem; 
}
.ovh {
    overflow: hidden;
}
.liconmian {
    height: auto;
}
.cangfangxiang {
    display: none;
}
.headerSlider {
    /* display: none; */
}
.whiteBox {
    background: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -7.5rem;
}
.delay1 {
    transition-delay: .1s;
}
.delay2 {
    transition-delay: .2s;
    left: .2rem;
}
.delay3 {
    left: .4rem;
    transition-delay: .3s;
}
.delay4 {
    left: .6rem;
    transition-delay: .4s;
}
.delay5 {
    left: .8rem;
    transition-delay: .5s;
}
.delay6 {
    left: 1rem;
    transition-delay: .6s;
}
.delay7 {
    left: 1.2rem;
    transition-delay: .7s;
}
.delay8 {
    left: 1.4rem;
    transition-delay: .8s;
}
.delay9 {
    left: 1.6rem;
    transition-delay: .9s;
}
.delay10 {
    left: 1.8rem;
    transition-delay: 1s;
}
.boxlogo2 {
    display: none;
}
.boxlogo,.boxlogo2 {
    width:2.4rem;
    height:0.72rem;
}


































